ssl = required
ssl_cert = </etc/letsencrypt/live/{{ hostname }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ hostname }}/privkey.pem

auth_mechanisms = plain login
passdb {
	driver = dict
	args = /etc/dovecot/dovecot-redis.conf
}
service auth {
	unix_listener auth-client {
		mode = 0660
		user = Debian-exim
	}
	unix_listener auth-userdb {
		mode = 0660
		user = vmail
	}
}

mail_uid = vmail
mail_gid = vmail
first_valid_uid = 5000
mail_privileged_group = vmail

mail_home = /var/mail/%d/%n
mail_location = maildir:~/Mail:INBOX=~/Mail/Inbox:LAYOUT=fs
namespace inbox {
	inbox = yes
	mailbox Drafts {
	special_use = \Drafts
	auto = subscribe
}
	mailbox Junk {
	special_use = \Junk
	auto = subscribe
	autoexpunge = 30d
}
	mailbox Sent {
	special_use = \Sent
	auto = subscribe
}
	mailbox Trash {
	special_use = \Trash
}
	mailbox Archive {
	special_use = \Archive
}
}

protocols = $protocols imap
protocol lda {
	mail_plugins = $mail_plugins sieve
}

plugin {
	sieve = ~/mail/.dovecot.sieve
	sieve_default = /var/lib/dovecot/sieve/default.sieve
}
