#!/bin/sh
chmod 750 /etc/letsencrypt/archive
chown root:Debian-exim /etc/letsencrypt/archive/
chmod 750 /etc/letsencrypt/live
chown root:Debian-exim /etc/letsencrypt/live/
chmod 644 /etc/letsencrypt/live/{{ hostname }}/fullchain.pem
chown root:Debian-exim /etc/letsencrypt/live/{{ hostname }}/fullchain.pem
chmod 650 /etc/letsencrypt/live/{{ hostname }}/privkey.pem
chown root:Debian-exim /etc/letsencrypt/live/{{ hostname }}/privkey.pem
systemctl restart exim4
